{% extends "baseBatchProduction.html" %}

{% block main %}

<div class="container p-5 text-white text-center"
     style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);border-radius: 25px; background-color: rgba(0, 0, 0, 0.8);">
    <p class="display-3 text-center">Batch Production Management</p>
    <h3 class="text-center mb-4">Thesis Project</h3>
    <h5>Dzakwan Nabih | 13117128 | <a class="text-white" href="mailto:dzakwan.nabih@gmail.com">dzakwan.nabih@gmail.com</a></h5>
    <h6 class="mt-3"><a class="text-white" href="{% url 'contributor' %}">Kontributor Lengkap</a></h6>
<!--    <div class="container">-->
<!--        <table class="table table-bordered border-light text-white text-center">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <td colspan="2">Contributor</td>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <td>Batch Production</td>-->
<!--                <td>Dzakwan Nabih (13117128)</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Line Production</td>-->
<!--                <td>Syfa N. S. (13117128)</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Takt System</td>-->
<!--                <td>Fandhika M. (13117128)</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Warehouse Management</td>-->
<!--                <td>Jordi A. W. (13117128)</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Project Shop</td>-->
<!--                <td>Luster H. P. (13117128)</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
</div>
{% endblock main %}