{% extends "baseBatchProduction.html" %}

{% block main %}

<div class="container p-5 text-white text-center"
     style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);border-radius: 25px; background-color: rgb(0, 0, 0);">
    <h3></h3>

    <figure>
        <blockquote class="blockquote">
            <p>This is one of the <b>truths</b> of the</p>
            <p><b>universe</b>, and you heard it first from</p>
            <p>here: whatever we <b>decide</b> we</p>
            <p><b>want</b> to do is what we <b>do</b></p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Morgan Freeman
        </figcaption>
    </figure>
</div>
{% endblock main %}